<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory> 
        
        
        
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/nova_era</property>
        <property name="hibernate.connection.username">root</property>
        
        <property name="hibernate.connection.password"> </property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>
        
        
        <mapping class="br.com.novaera.sistema.model.User"/>
        <mapping class="br.com.novaera.sistema.model.Perfil"/>
        <mapping package="br.com.novaera.sistema.model"/>
        
        <mapping class="br.com.novaera.distribuicao.model.Customer"/>
        <mapping class="br.com.novaera.distribuicao.model.Address"/>
        <mapping package="br.com.novaera.distribuicao.model"/>
        
        <mapping class="br.com.novaera.mm.model.Product"/>
        <mapping package="br.com.novaera.mm.model"/>
        
    </session-factory>    
</hibernate-configuration>

